@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
*{
    box-sizing: border-box;
}
body {
font-family: "Roboto", sans-serif;
  background-image: url(img/patt.png);
}